<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatepass Management System</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo-title">
                <img src="/logo.jpg" alt="Logo" class="logo">
                <h1>Mecon Gatepass Management</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="hero">
        <div class="container">
            <h2>Efficient and Secure Gatepass Management</h2>
            <p>Manage and track gate passes with ease using our state-of-the-art system.</p>
            <a href="role.html" class="cta">Get Started</a>
        </div>
    </section>
    
    <section id="about" class="section">
        <div class="container">
            <h2>About Us</h2>
            <p>The Gatepass Management System simplifies visitor and employee entry processes, ensuring security and efficiency with its streamlined registration and approval workflows.</p>
        </div>
    </section>
   
    <footer>
        <div class="container">
            <p>&copy; 2024 Gatepass Management System. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
